# ignore the data file at ./app/data/posts.json
app/data/posts.json

# ignore .htaccess file
.htaccess

# ignore all shell files
*.sh

# ignore all files in the app/tmp directory
app/tmp/*

# ignore all files in the app/logs directory
app/logs/*